* {
  box-sizing: border-box;
}

body
{
  font-family:Verdana;
  background-image:url('../1.png');
}
.header
{
    position:fixed;
    background-color:#e5e5e5;
    padding:15px;
    text-align:center;
    height: 180px ;
    width: 100%;background-color: rgba(66, 191, 245);opacity:0.9;color:white;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.header h1
{
  font-family:sans-serif;
  font-weight: lighter;
  font-size: 40px;
}





.header a:hover {
  background-color: #ddd;
  color: black;
}


.header a.active {
  background-color: #eb7434;
  color: white;
}


.header-right {
  float: right;
}

.menu {
  margin-top:180px;
  padding: 0;
  width:200px;
  height: 100%;
  text-align:center;
  background: white;
  position: fixed;
background-color: rgba(66, 191, 245);opacity:0.9;color:white;
}

.menu a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

.menu a.active {
 background-color: red;
 color: white;
}


.menus a:hover:not(.active) {
 background-color: #555;
 color: white;
}

.main {
  position: fixed;
  width:60%;
  padding:0 20px;
  margin-left: 200px;
  margin-top: 180px;
}


.main .count h1
{
  font-family:sans-serif;
  font-weight: lighter;
  font-size: 2vw;

}
.right {
  background-color:#e5e5e5;
  float:left;
  width:20%;
  padding:15px;
  margin-top:7px;
  text-align:center;
}


.count
{
  text-align: center;
  margin-top: 15%;;
  margin-left: 45%;;
  margin-bottom: 15%;

  width:20vw;
  height: 30vh;
  padding: 2%;

}

.count a
{
  text-decoration: none;
  text-align: center;
  color:black;
}

.count a:hover
{
  color: red;
}

.value
{
  color: red;
}

.footer
{
  background-color:#e5e5e5;
  text-align:center;
  position: fixed;
  padding:10px;
  left:0;
  bottom: 0;
  color: black;
  width:100%;

background-color: rgba(66, 191, 245);opacity:0.9;color:white;
}

.buttons
{
  margin-top: 4%;
  margin-left: 50%;
}

.buttons button
{
  color: black;
  background:#34eb52;
  width: 200px;
  padding:40px;
  border-radius: 8%;
  border: none;
  margin-top: 10%;
  color: white;

}

.buttons button:hover
{
  color: #34eb52;
  background: white;
  cursor: pointer;
}

@media only screen and (max-width:620px) {
  /* For mobile phones: */
  .menu, .right,.count {

    width:30%;
  }

  .count
  {
    margin-left: -30%;
    margin-top: 50%;
  }
}


#first
{
  background-color: black;
  color: white;
}


tr:nth-child(odd)
{
  background-color: #f2f2f2;
}


tr
{
  border: 2px solid black;
}

td
{
  padding: 10%;
  padding-top: 1%;
  padding-bottom: 1%;
  width: 20vw;
  border: 0px;
  border-style: ridge;
  text-align: center;
  font-size: .8vw;

}

::-webkit-scrollbar
{
  width:10px;
}

::-webkit-scrollbar-track
{
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb
{
  background: #888;
}
::-webkit-scrollbar-thumb:hover{
  background: #555;
}
